.langNav {
    text-align: left;
    height: 50px;
}

.langNav span {
    border-bottom: 2px solid green;
    padding: 2px;
    /* border-radius: 2px; */
    margin: 5px;
    cursor: pointer;
}
.langNav span:hover {
    background: green;
    color: white;
}