.mainCmpt {
  /* position: absolute; */
  width: 333px;
  border: 1px dotted blue;
  /* top: 20%; */
  display: inline-block;
  margin: auto;
  /* transform: translate(-50%,-50%); */
  padding: 20px 40px;
}