* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: center;
}

input {
    padding: 10px;
    margin: 0px auto 10px;
    display: block;
    width: -webkit-fill-available;
}
